body{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    width:500px;
}
.float-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.float-child:first-child {
    flex: 0;
    margin-right: 20px;
}  

.title{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 24pt;
}
